#page{
  max-width: 1000px;
  width: auto;
  margin: auto;
  background-color: white;
  text-align: center;
}
nav{
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
}
nav h1{
  font-weight: bold;
  font-size: 1.5em
  color: #323232;
  margin: .75em;
  flex: 4;
  text-align: left;
  flex-basis: auto;
  justify-content: flex-start;
}
nav h3{
  font-size: .75em
  color: #323232;
  margin: 1.25em;
}
#nav2{
  flex: 1;
  flex-basis: auto;
  text-align: right;
}
#nav3{
  flex: 1;
  flex-basis: auto;
  text-align: right;
}
#main_photo img{
  width: 100%;
}
.main_section1 h1{
  margin-top: 50px;
  height: 100px;
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
}
.main_section1 h3{
  margin-top: 20px;
  height: 60px;
}
.content_box1{
  text-align: center;
  display:inline-block;
  vertical-align: top;
  max-width: 250px;
  width: 100%;
  height: 300px;
  margin: 60px;
  padding: 30px;
  background-color: #eeeeee;
}
.content_box1 h2{
  color: #00897f;
  font-size: 1.5em;
  text-transform: uppercase;
}
.content_box1 p{
  color: #323232;
  font-size: 0.875em;
  line-height: 1.75em;
}
.cotent_image img{
  width: 25%;
  text-align: center;
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 80px;
}
#cat1{
  padding-right: 55px;
  border-radius: 50%
}
#cat2{
  padding-right: 55px;
  border-radius: 50%
}
#cat3{
  padding-right: 55px;
  border-radius: 50%
}
.main_section2{
  background-color: #eeeeee;
  text-align: center;
  padding: 50px;
}
.main_section2 h1{
height: 80px;
}
.content_box2{
  text-align: left;
  display:inline-block;
  vertical-align: top;
  max-width: 250px;
  width: 100%;
  margin: 60px;
  padding: 30px;
  height: 210px;
  background-color: #ffffff;
}
.content_box2 h2{
  color: #00897f;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}
.content_box2 h3{
  color: #323232;
  font-size: 1em;
  line-height: 2em;
  text-align: left;
}
.address_box h3, .address_box a{
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
}
a{
  color: orange;
}
#map img{
  width: 100%;
}
footer{
  background-color: #00897f;
  text-align: center;
  height: 125px;
}
footer h1{
  font-size: 1.25em;
  color: #ffffff;
  font-weight: bold;
  padding-top: 50px;
}
/* On devices wider than 660px */
@media(max-width: 450px) {
  body {
    max-width: 400px;
    width: auto;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
  }
  .main_section1{
    height: 270px;
  }
  .cotent_image img {
    width: 70%;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
  }
  .content_box1{
    width: 100%;
    margin: 60px auto;
    padding: 30px;
  }
  .content_box2{
    width: 100%;
    margin: 60px auto;
    padding: 30px;
  }
}
/* On devices wider than 940px */
@media(min-width: 940px) {
  body {
    max-width: 1080px;
    width: 100%;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    background-color: grey;
  }
}
