body {
  width: 100%;
  margin: auto;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  background-color: grey;
}
#page{
  max-width: 900px;
  margin: auto;
  background-color: white;
}
nav{
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
}
nav h1{
  font-weight: bold;
  font-size: 1.5em
  color: #323232;
  margin: .75em;
  flex: 2;
  justify-content: flex-start;
}
nav h3{
  flex: 1;
  justify-content: flex-end;
}
#main_photo img{
  width: 100%;
}
.main_section1 h1{
  padding-top: 80px;
  font-weight: bold;
  font-size: 1.875em;
  color: #323232;
}
.main_section1 h3{
  padding-top: 45px;
}
.content_box1{
  text-align: center;
  display:inline-block;
  vertical-align: top;
  width: 250px;
  height: 300px;
  margin: 60px;
  padding: 30px;
  background-color: #eeeeee;
}
.content_box1 h2{
  color: #00897f;
  font-size: 1.5em;
  text-transform: uppercase;
}
.content_box1 p{
  color: #323232;
  font-size: 0.875em;
  line-height: 1.75em;
}
.cotent_image img{
  width: 25%;
  text-align: center;
  display: inline-block;
  margin-top: 80px;
  margin-bottom: 80px;
}
#cat1{
  padding-right: 55px;
  border-radius: 50%
}
#cat2{
  padding-right: 55px;
  border-radius: 50%
}
#cat3{
  padding-right: 55px;
  border-radius: 50%
}
.main_section2{
  background-color: #eeeeee;
  text-align: center;
  padding: 50px;
}
.main_section2 h1{
  margin-top: 80px;
}
.content_box2{
  text-align: center;
  display:inline-block;
  vertical-align: top;
  width: 40%;
  max-width: 200px;
  margin: 60px;
  padding: 30px;
  background-color: #ffffff;
}
.content_box2 h2{
  color: #00897f;
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline;
}
.content_box2 h3{
  color: #323232;
  font-size: 1em;
  line-height: 2em;
  display: inline;
}
#map img{
  width: 100%;
}
footer{
  background-color: #00897f;
  text-align: center;
  height: 125px;
}
footer h1{
  font-size: 1.25em;
  color: #ffffff;
  font-weight: bold;
  padding-top: 50px;
}
/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
